body {
	background-color: #feda00;
	font-size: 18px;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.save-link {
	color: white;
	float: right;
}
h1, h2, article {
	margin: 0;
	padding: 0;
}
header { text-align: center; padding: 1em; }
header small.tags {
  font-weight: bold;
}
main, footer {
	margin: auto;
	max-width: 1022px;
}
article {
	background-color: white;
}
article > small.date {
	background-color: black;
	color: white;
	display: block;
	padding: .2em .5em;
  font-family: monospace;
  text-align: center;
}
article > small.new { color: #feda00; }
article div.content { padding: 0 1em 1em 1em; }
article img { width: 100%; margin-bottom: .5em; }
footer p {
	margin: 0;
	padding: .5em .8em;
	text-align: center;
	font-family: monospace;
}
span.v { color: red; }
span.stars {
	color: yellow;
	-webkit-text-stroke: 2px black;
}
